# --- POSTGRES YAPILANDIRMASI ---
POSTGRES_USER=nac_user
POSTGRES_PASSWORD=ornek_sifre_123
POSTGRES_DB=nac_db

# --- RADIUS YAPILANDIRMASI ---
RADIUS_SECRET=testing123

# --- API YAPILANDIRMASI ---
DATABASE_URL=postgresql://nac_user:ornek_sifre_123@nac_postgres:5432/nac_db
REDIS_URL=redis://nac_redis:6379/0
SECRET_KEY=asiri_gizli_api_anahtari